@page "/receivefiles"
@using System.Net
@inject NavigationService NavigationService
@inject LocalTransferService TransferService
@inject IStorageService StorageService
@inject IJSRuntime js
@implements IDisposable

<header class="header">
    <RealButton OnClick="@PickFolder">
        <i class="ph ph-folder-notch"></i>
    </RealButton>
    @if (TransferService.IsReceiving)
    {
        <BadgeButton OnClick="@TransferService.StopReceiving">
            <i class="ph ph-x"></i>
        </BadgeButton>
    }
    <BadgeButton Class="transparent left" OnClick="@NavigationService.NavigateBack">
        <i class="ph ph-arrow-left"></i>
    </BadgeButton>
</header>

<div class="container">
    <div class="folder" @ref=ElementFolderContainer>
        <div class="folder-area" @ref=ElementFolder @onclick="@PickFolder">
            @Folder
        </div>
    </div>
    <div class="files">
        @foreach (var file in ReceivedFiles)
        {
            <FileComponent File="@file"></FileComponent>
        }

        @if (ReceivedFiles.Count == 0)
        {
            <div class="message">
                @("You haven't received any files yet")
            </div>
        }
    </div>
</div>

@code {
    [CascadingParameter(Name = "SaveFolder")]
    public string? Folder { get; set; }

    [CascadingParameter(Name = "SetFolder")]
    public EventCallback<string> SetFolder { get; set; }

    [CascadingParameter(Name = "ReceivedFiles")]
    public List<FileModel> ReceivedFiles { get; set; }

    [CascadingParameter(Name = "MessageBox")]
    public MessageBox MessageBoxElement { get; set; }

    IJSObjectReference jsModule;

    ElementReference ElementFolderContainer;
    ElementReference ElementFolder;

    protected override async Task OnInitializedAsync()
    {
        TransferService.ReceivingStopped += OnReceivingStopped;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            jsModule = await js.InvokeAsync<IJSObjectReference>("import", "./Components/Pages/ReceiveFilesPage.razor.js");
            await jsModule.InvokeVoidAsync("ReceiveFilesPage.Init", ElementFolderContainer, ElementFolder);
        }
    }

    protected override async Task OnParametersSetAsync()
    {
        // await InvokeAsync(StateHasChanged);
        if (jsModule is not null)
        {
            await jsModule.InvokeVoidAsync("ReceiveFilesPage.FolderChanged", ElementFolderContainer, ElementFolder);
        }
    }

    private async Task PickFolder()
    {
        string? path = await StorageService.PickFolderAsync();

        if (path is null)
        {
            return;
        }

        if (!StorageService.CheckIsDirectoryWritable(path))
        {
            MessageBoxElement.ShowError(
                "Saving to the selected folder is not currently supported. Please select another folder.",
                "Destination folder not supported");
            return;
        }

        if (!string.IsNullOrEmpty(path))
        {
            await SetFolder.InvokeAsync(path);
        }
    }

    private void OnReceivingStopped(object? sender, EventArgs e)
    {
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        TransferService.ReceivingStopped -= OnReceivingStopped;
    }
}
