@page "/receivefiles"
@using System.Net
@inject NavigationService NavigationService
@inject LocalTransferService TransferService
@inject IStorageService storageService
@inject IJSRuntime js

<header class="header">
    <BadgeButton OnClick="@PickFolder">
        <i class="ph ph-folder-notch"></i>
    </BadgeButton>
    @if (TransferService.IsReceiving)
    {
        <BadgeButton OnClick="@TransferService.StopReceiving">
            <i class="ph ph-x"></i>
        </BadgeButton>
    }
    <BadgeButton Class="transparent left" OnClick="@NavigationService.NavigateBack">
        <i class="ph ph-arrow-left"></i>
    </BadgeButton>
</header>

<div class="container">
    <div class="folder" @ref=ElementFolderContainer>
        <div class="folder-area" @ref=ElementFolder @onclick="@PickFolder">
            @Folder
        </div>
    </div>
    <div class="files">
        @foreach (var file in ReceivedFiles)
        {
            <FileComponent File="@file"></FileComponent>
        }
    </div>
</div>

@code {
    [CascadingParameter(Name = "SaveFolder")]
    public string? Folder { get; set; }

    [CascadingParameter(Name = "SetFolder")]
    public EventCallback<string> SetFolder { get; set; }

    [CascadingParameter(Name = "ReceivedFiles")]
    public List<FileModel> ReceivedFiles { get; set; }

    IJSObjectReference jsModule;

    ElementReference ElementFolderContainer;
    ElementReference ElementFolder;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            jsModule = await js.InvokeAsync<IJSObjectReference>("import", "./Components/Pages/ReceiveFilesPage.razor.js");
            await jsModule.InvokeVoidAsync("ReceiveFilesPage.Init", ElementFolderContainer, ElementFolder);
        }
    }

    protected override async Task OnParametersSetAsync()
    {
        // await InvokeAsync(StateHasChanged);
        if (jsModule is not null)
        {
            await jsModule.InvokeVoidAsync("ReceiveFilesPage.FolderChanged", ElementFolderContainer, ElementFolder);
        }
    }

    private async Task PickFolder()
    {
        string? path = await storageService.PickFolderAsync();
        if (!string.IsNullOrEmpty(path))
        {
            await SetFolder.InvokeAsync(path);
        }
    }
}
