@page "/sendfiles"
@using System.Text
@inject NavigationService NavigationService
@inject IStorageService StorageService
@inject LocalTransferService TransferService

<header class="header">
    <RealButton OnClick="@PickFiles">
        <i class="ph ph-plus"></i>
    </RealButton>
    @if (SelectedFiles.Count > 0)
    {
        <RealButton OnClick="@RemoveFiles">
            <i class="ph ph-trash"></i>
        </RealButton>
    }
    else if (SendFiles.Count > 0)
    {
        <RealButton OnClick="@ClearFiles">
            <i class="ph ph-broom"></i>
        </RealButton>
    }
    <BadgeButton Class="transparent left" OnClick="NavigationService.NavigateBack">
        <i class="ph ph-arrow-left"></i>
    </BadgeButton>
</header>

<div class="files">
    @foreach (var file in SendFiles.Select((f, i) => new { File = f, Index = i }))
    {
        <FileComponent @key="file.Index + uniqueSuffix" File="@file.File" OnClick="OnFileClick"></FileComponent>
    }

    @if (SendFiles.Count == 0)
    {
        <div class="message">
            @("Select files you want to send")
        </div>
    }
</div>

@code {
    [CascadingParameter(Name = "SendFiles")]
    private List<FileModel> SendFiles { get; set; }

    [CascadingParameter(Name = "MessageBox")]
    private MessageBox MessageBoxElement { get; set; }

    private List<FileModel> SelectedFiles { get; set; } = new();

    // needed to reload animation after rerender
    private string uniqueSuffix = Guid.NewGuid().ToString();

    private async Task PickFiles()
    {
        if (TransferService.ReceiverIp is not null)
        {
            MessageBoxElement.ShowWarning("You can't add files to list while sending in progress.");
            return;
        }

        StringBuilder notreadableFiles = new StringBuilder();
        List<string> pickedFiles = await StorageService.PickFilesAsync();
        foreach (var filePath in pickedFiles)
        {
            if (!StorageService.CheckIsFileReadable(filePath))
            {
                notreadableFiles.AppendLine(filePath);
                continue;
            }

            if (!string.IsNullOrEmpty(filePath) &&
                !SendFiles.Any(f => f.Path == filePath))
            {
                long fileSize = new FileInfo(filePath).Length;
                FileModel file = new FileModel(filePath, fileSize);
                SendFiles.Add(file);
            }
        }

        if (notreadableFiles.Length > 0)
        {
            MessageBoxElement.ShowError(
                "Some files you selected cannot be read and hence cannot be sent:\n" +
                notreadableFiles.ToString(),
                "Files cannot be read");
            return;
        }
    }

    private void RemoveFiles()
    {
        if (TransferService.ReceiverIp is not null)
        {
            MessageBoxElement.ShowWarning("You can't delete files from list while sending in progress.");
            return;
        }

        foreach (FileModel f in SelectedFiles)
        {
            SendFiles.Remove(f);
        }

        SelectedFiles.Clear();
        uniqueSuffix = Guid.NewGuid().ToString();
    }

    private void ClearFiles()
    {
        SendFiles.Clear();
    }

    private void OnFileClick(FileModel file)
    {
        if (SelectedFiles.Contains(file))
        {
            SelectedFiles.Remove(file);
        }
        else
        {
            SelectedFiles.Add(file);
        }
    }
}
