@using System.Net
@inherits LayoutComponentBase
@inject NavigationService NavigationService
@inject IStorageService StorageService
@inject LocalTransferService TransferService

<CascadingValue Value="@MessageBoxElement" Name="MessageBox">
    <CascadingValue Value="@SendFiles" Name="SendFiles">
        <CascadingValue Value="@ReceivedFiles" Name="ReceivedFiles">
            <CascadingValue Value="@SaveFolder" Name="SaveFolder">
                <CascadingValue Value="@SetFolder" Name="SetFolder">
                    <div class="page">
                        <main class="main">
                            @Body
                        </main>
                        @* <div class="menu">
                        <div class="item">
                        Local
                        </div>
                        <div class="item">
                        Global
                        </div>
                        </div> *@
                    </div>
                </CascadingValue>
            </CascadingValue>
        </CascadingValue>
    </CascadingValue>
</CascadingValue>

<MessageBox @ref="MessageBoxElement"></MessageBox>

@code {
    public List<FileModel> SendFiles { get; set; } = new();

    public List<FileModel> ReceivedFiles { get; set; } = new();

    public string? SaveFolder { get; set; }

    public EventCallback<string> SetFolder { get; set; }

    private MessageBox MessageBoxElement = null!;

    protected override async Task OnInitializedAsync()
    {
        TransferService.OnSendFilesRequest = ShowRequest;

        TransferService.SendingFinishedSuccessfully += OnSendingFinishedSuccessfully;

        TransferService.ReceivingFileStarted += AddReceivingFile;
        TransferService.ReceivingFileFailed += RemoveReceivingFile;
        TransferService.ReceivingFinishedSuccessfully += OnReceivingFinishedSuccessfully;

        TransferService.ExceptionHandled += ShowError;

        SaveFolder = StorageService.GetDefaultFolder();
        TransferService.SaveFolder = SaveFolder;

        SetFolder = EventCallback.Factory.Create<string>(this, OnSetFolder);
        NavigationService.NavigateTo("local");
    }

    private Task<bool> ShowRequest(IPAddress? sender, int filesCount)
    {
        return MessageBoxElement.ShowRequest(
            $"Sender with IP {sender} wants to send you {filesCount} file(s). Accept the request?",
             "Request to send files");
    }

    private void ShowError(object? sender, string message)
    {
        MessageBoxElement.ShowError(message);
    }

    private void OnReceivingFinishedSuccessfully(object? sender, EventArgs e)
    {
        MessageBoxElement.ShowInfo("All files received successfully.", "Receiving finished");
    }

    private void OnSendingFinishedSuccessfully(object? sender, EventArgs e)
    {
        MessageBoxElement.ShowInfo("All files sent successfully.", "Sending finished");
    }

    private void OnSetFolder(string path)
    {
        SaveFolder = path;
        TransferService.SaveFolder = path;
    }

    private void AddReceivingFile(object? sender, FileModel file)
    {
        ReceivedFiles.Add(file);
        InvokeAsync(StateHasChanged);
    }

    private void RemoveReceivingFile(object? sender, string filePath)
    {
        for (int i = 0; i < ReceivedFiles.Count; i++)
        {
            if (ReceivedFiles[i].Path == filePath)
            {
                ReceivedFiles.Remove(ReceivedFiles[i]);
            }
        }
        InvokeAsync(StateHasChanged);
    }
}
